.popup__button {
  margin-top: 48px;
  min-width: 358px;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .popup__button {
    margin-top: 45px;
    min-width: 238px;
    min-height: 46px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}
