.header {
  display: flex;
  min-width: 880px;
  max-width: 880px;
  min-height: 74px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 910px) {
  .header {
    max-width: 580px;
    min-width: 580px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 400px;
    min-width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    min-height: 54px;
  }
}
