.gallery__basket {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 19px;
  height: 19px;
  background: url(../../../images/basket.svg);
  background-repeat: no-repeat;
  border: none;
  padding-bottom: 24px;
}

.gallery__basket:hover {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}
