.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background: #00000000;
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: none;
}

@media screen and (max-width: 400px) {
  .popup__close {
    width: 22px;
    height: 22px;
    right: 0;
  }
}
