.profile__info-img {
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 0px;
  margin-bottom: 35px;
}

@media screen and (max-width: 720px) {
  .profile__info-img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin: 0;
    align-self: center;
    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .profile__info-img {
    margin-right: 10px;
    margin-bottom: 8px;
  }
}
