.profile__button {
  max-width: 150px;
  min-width: 150px;
  min-height: 50px;
  background: #000;
  border: none;
  background-image: url(../../../images/add_button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .profile__button {
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
  }
}

@media screen and (max-width: 400px) {
  .profile__button {
    background-image: url(../../../images/add_button_320px.svg);
    min-width: 282px;
    margin-top: 28px;
  }
}
