.popup__title {
  min-width: 358px;
  min-height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 54px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .popup__title {
    min-width: 238px;
    margin-top: 75px;
  }
}
